API_ID=
API_HASH=
BOT_TOKEN=
DATABASE_URL=sqlite:///./test.db
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=http://localhost:8000/gmail/callback
WEBAPP_URL=http://localhost:8000
SECRETS_ENCRYPTION_KEY=
